* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.header h2 {
    font-weight: bolder;
    color: white;
}

ul {
    display: flex;
    justify-content: space-around;
}

li a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
    padding: 16px;
}